 <div class="row" *ngIf="detail">
    <div class="panel-heading">
        <div class="name">{{detail.name | uppercase}}</div>
        <div class="id">#{{detail.id | number: '3.' }}</div>
    </div>
    <div class="panel-body" routerLink="/dashboard/{{detail.name}}"  *ngIf="detail.sprites.front_default; else NotAvailable">
         <div class="imgdiv">
           <img [src]="detail.sprites.front_default">
         </div>
         <ng-template #NotAvailable>
               <span>Pokemon</span>
         </ng-template>
    </div>
    <div class="panel-footer">
         <div *ngFor="let type of detail.types" class="type {{type.type.name}}">{{type.type.name | lowercase }}</div>
    </div>
  </div>      