  /* body{
    padding-top: 50px;
  } */

  .row {
    display: inline-block;
    width: 200px;
    padding: 2px;
    border: 1px solid #ffffff;
    color: #ffffff;
  }

  .panel-heading{
    display: flex;
    flex-direction: row;
    background-color: #ff99bb;
    color: #fff;
    font-size: 15px;
    font: Calibri;
  }

  .panel-heading .name{
    flex: 1;
  }

  .panel-body {
    /* position: relative; */
    height: 145px;
    padding: 15px;
  }
  .panel-body .imgdiv {
    display: flex;
    justify-content: center;
  }
  
  .panel-footer {
    /* height: 20px;
    border-top: 1px solid #dddddd; */
    /* border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; */
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    justify-content: center;
  }
  .type {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    /* justify-content: center; */
    color: #ffffff;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 1px;
    padding: 2px 2px;
    border-radius: 3px;
  }

  .type.normal {
    background-color: #a8a878;
    border: solid 1px #6d6d4e;
  }
  
  .type.fire {
    background-color: #f08030;
    border: solid 1px #9c531f;
  }
  
  .type.fighting {
    background-color: #c03028;
    border: solid 1px #7d1f1a;
  }
  
  .type.water {
    background-color: #6890f0;
    border: solid 1px #445e9c;
  }
  
  .type.flying {
    background-color: #a890f0;
    border: solid 1px #6d5e9c;
  }
  
  .type.grass {
    background-color: #78c850;
    border: solid 1px #4e8234;
  }
  
  .type.poison {
    background-color: #a040a0;
    border: solid 1px #c183c1;
  }
  
  .type.electric {
    background-color: #f8d030;
    border: solid 1px #a1871f;
  }
  
  .type.ground {
    background-color: #e0c068;
    border: solid 1px #927d44;
  }
  
  .type.psychic {
    background-color: #f85888;
    border: solid 1px #a13959;
  }
  
  .type.rock {
    background-color: #b8a038;
    border: solid 1px #786824;
  }
  
  .type.ice {
    background-color: #98d8d8;
    border: solid 1px #638d8d;
  }
  
  .type.bug {
    background-color: #a8b820;
    border: solid 1px #6d7815;
  }
  
  .type.dragon {
    background-color: #7038f8;
    border: solid 1px #4924a1;
  }
  
  .type.ghost {
    background-color: #705898;
    border: solid 1px #493963;
  }
  
  .type.dark {
    background-color: #705848;
    border: solid 1px #49392f;
  }
  
  .type.steel {
    background-color: #b8b8d0;
    border: solid 1px #787887;
  }
  
  .type.fairy {
    background-color: #ee99ac;
    border: solid 1px #9b6470;
  }

